@tailwind base;
@tailwind components;
@tailwind utilities;

/* custom.css */
.custom-ant-picker-focus:focus,
.custom-ant-picker-focus:focus-within,
.custom-ant-picker-focus:hover {
  @apply border-dukiaBlue/[11%] ring-2 ring-transparent;
}


#dashboardLayout{
  overflow-y: hidden;
}

@keyframes flash {
  0% {
    background-color: yellow;
  }
  100% {
    background-color: transparent;
  }
}

.flash {
  animation: flash 0.5s ease-in-out;
}

.index-module_type__E-SaG::after {
  color: #DAAA38; /* Change this to your desired color */
  /* You might also need to set the content and other properties if required */
}

.ant-picker-suffix{
  color: white !important;
}

.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #cbd5e0 #f7fafc;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #cbd5e0;
  border-radius: 50%;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background-color: transparent;
}
