@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .savings-card-gradient {
    background: linear-gradient(115.42deg, #ffffff 16.94%, #e3e0dc 84.52%);
  }

  .savings-card-shadow {
    box-shadow: 5px 10px 10px 10px rgba(153, 153, 153, 0.05); /* #9999990D converted to rgba */
  }

  .inner-savings-card-shadow {
    box-shadow: 0px 4px 4px 0px rgba(153, 153, 153, 0.078);
  }
}

.index-module_type__E-SaG::after {
  display: none;
  color: white !important;
}

/* custom.css */
.custom-ant-picker-focus:focus,
.custom-ant-picker-focus:focus-within,
.custom-ant-picker-focus:hover {
  @apply border-dukiaBlue/[11%] ring-2 ring-transparent;
}

#dashboardLayout {
  overflow-y: hidden;
}

@keyframes flash {
  0% {
    background-color: yellow;
  }
  100% {
    background-color: transparent;
  }
}

.flash {
  animation: flash 0.5s ease-in-out;
}

.index-module_type__E-SaG::after {
  color: #daaa38; /* Change this to your desired color */
  /* You might also need to set the content and other properties if required */
}

.ant-picker-suffix {
  color: white !important;
}

.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #cbd5e0 #f7fafc;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #cbd5e0;
  border-radius: 50%;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background-color: transparent;
}
